{
    "presets": [
        "es2015",
        [
            "env",
            {
                "targets": {
                    "node": "6.9.0"
                },
                "loose": true,
                //"modules": false,
                "useBuiltIns": true,
                "debug": false
            }
        ]
    ],
    "plugins": ["transform-runtime", "add-module-exports"],
    "ignore": ["external/**/*"],

    "env": {
        "cjs": {
            "plugins": ["transform-runtime", "add-module-exports"]
        }
    }
}
