{
  "extends": ["eslint:recommended", "./node_modules/eslint-config-google/index.js"],
  "parserOptions": { 
    "ecmaVersion": 6,
      "sourceType": "module",
      "ecmaFeatures": {
        "modules": true
      }
  },
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "globals": {
    "THREE": false
    },
  "rules" :{
    "space-in-parens": ["error", "never"]
  }
}