{
  "extends": ["eslint:recommended", "./node_modules/eslint-config-google/index.js"],
  "parserOptions": { 
    "ecmaVersion": 6,
      "sourceType": "module",
      "ecmaFeatures": {
        "modules": true
      }
  },
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "globals": {
    "THREE": false
    },
  "rules" :{
    "space-in-parens": ["error", "never"],
    "keyword-spacing": "error",
    // tmporary for build to pass
    "max-len": ["off", 80],
    "require-jsdoc": "off",
    "valid-jsdoc": "off",
    "guard-for-in": "warn",
    "no-unused-vars": "warn",
    "one-var": "warn",
    "no-throw-literal": "warn",
    "no-self-assign": "warn",
    "no-console": "warn",
    "new-cap": "warn",
    "no-var": "warn",
    "no-redeclare": "warn",
    "camelcase": "warn",
    "no-multi-str": "warn",
    "no-mixed-spaces-and-tabs": "warn",
    "no-empty": "warn",
    "no-undef": "warn",
    "switch-colon-spacing": 0
  }
}