body {
  font-family: sans-serif;
  color: #f9f9f9;
  background-color: #212121;
}

#container {
  background-color: #000;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
