*{
  font-family: 'Roboto', sans-serif;
  outline: none;
}

#stats {
  position: absolute;
  top:0;
  left: 0;
}

#r3d {
  background-color: #000;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow:hidden;
}

#my-gui-container {
  position: fixed;
  top: 30px;
  right: 20px;
  z-index:1;
}

#VJSProbe {
  position: absolute;
  bottom:0;
  left: 0;
  height: 45px;
  font-family: monospace;
  padding: 2px;
  background-color: #F9F9F9;
  border: 1px solid #353535;
  z-index: 20;
}

.VJSWidgetVoxelProbe {
  position: absolute;
  bottom:0;
  left: 0;
  height: 45px;
  font-family: monospace;
  pointer-events: none;
}

.VJSWidgetVoxelProbe > .VJSVoxelMeasurements {
  padding: 2px;
  margin-top: -20px;
  color: #353535;
  background-color: #F9F9F9;
  border: 1px solid #00B0FF;
}

.VJSWidgetVoxelProbe.VJSVoxelProbeSelect > .VJSVoxelMeasurements {
  border: 1px solid #76FF03;
}

.VJSWidgetVoxelProbe.VJSVoxelProbeHover > .VJSVoxelMeasurements {
  border: 1px solid #F50057;
}


.VJSWidgetVoxelProbe.VJSVoxelProbeActive > .VJSVoxelMeasurements {
  border: 1px solid #FFEB3B;
}

.VJSVoxelProbeSVG {
  margin-left: -5px;
  margin-top: -5px;
}


/*update color and position, not shape...*/
.VJSVoxelProbeSVG > svg > path {
  fill: none;
  stroke: #00B0FF;
  stroke-width: 5;
  stroke-dasharray: 150;
  stroke-dashoffset: 150;
  animation: dash 0.5s linear forwards;
}

.VJSWidgetVoxelProbe.VJSVoxelProbeSelect > .VJSVoxelProbeSVG > svg > path {
  stroke: #76FF03;
}

.VJSWidgetVoxelProbe.VJSVoxelProbeHover > .VJSVoxelProbeSVG > svg > path {
  stroke: #F50057;
}

.VJSWidgetVoxelProbe.VJSVoxelProbeActive > .VJSVoxelProbeSVG > svg > path {
  stroke: #FFEB3B;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

#my-lut-container {
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 1;
  color: #F9F9F9;
  display: flex;
}

#my-lut-container > #my-lut-canvases {
  position: relative;
}

#my-lut-min {
  margin-right: 10px;
}

#my-lut-max {
  margin-left: 10px;
}

#my-lut-container > #my-lut-canvases > :first-child {
  background: repeating-linear-gradient(-45deg, #353535, #353535 5px, black 5px, black 10px);
}

#my-lut-container > #my-lut-canvases > :nth-child(2) {
  position: absolute;
  top: 0;
  left: 0;
}

#home-container{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #B0BEC5;
  z-index: 99;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.big{
  font-size:60px;
}

.medium{
  font-size:40px;
}

.small{
  font-size:30px;
}

.small{
  font-size:20px;
}

#buttons{
  flex: 1;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content:center;
}

#filesinput{
  display:none;
}

#buttoninput{
  padding: 10px;
  border: 6px solid #2196F3;
  background-color: #2196F3;
  color: #F9F9F9;
  border-radius: 50%;
  height: 200px;
  width: 200px;
  font-size:30px;
}

#buttoninput:hover{
  /*border-style: dashed;*/
  background-color: #F9F9F9;
  color: #2196F3;
  cursor:pointer;
}