*{
  font-family: 'Roboto', sans-serif;
  outline: none;
}

body {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

#stats {
  position: absolute;
  top:0;
  left: 0;
}

#r3d {
  background-color: #000;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow:hidden;
}

#canvasDiv {
  pointer-events: none;  
  background-color: rgba(0, 0, 0, 0);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow:hidden;
}

#canvasDiv.editing {
  pointer-events: all;
}

#editorStats {
  position: absolute;
  bottom: 10px;
  right: 10px;
  display: flex;
  padding: 10px;
  border: solid 1px #212121;
  background-color: #d4d4d4;
  flex-direction: column;
}

.segment {
  display: flex;
}

.label::after{
  content: ": ";
}

#help {
  font-size: 24px;
  color: #ffffff;
  pointer-events: none;
  position: absolute;
  padding: 16px;
  background-color: rgba(0, 0, 0, .7);
  border: 1px solid #FFEB3B;
}

#my-gui-container {
  position: fixed;
  top: 30px;
  right: 20px;
  z-index:1;
}

#my-lut-container {
  top: 0;
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 1;
  color: #F9F9F9;
  text-align: center;
}

#my-lut-container > div > .my-lut-canvases {
  position: relative;
}

#my-lut-min {
  margin-right: 10px;
}

#my-lut-max {
  margin-left: 10px;
}

#my-lut-container > div {
  margin-bottom: 10px;
}

#my-lut-container > div > .my-lut-canvases > :first-child {
  background: repeating-linear-gradient(-45deg, #353535, #353535 5px, black 5px, black 10px);
}

#my-lut-container > div > .my-lut-canvases > :nth-child(2) {
  position: absolute;
  top: 0;
  left: 0;
}