#stats {
  position: absolute;
  top:0;
  left: 0;
}

#r3d {
  background-color: #000;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow:hidden;
}

#my-gui-container {
  position: fixed;
  top: 80px;
  right: 20px;
  z-index:1;
}

#VJSProbe {
  position: absolute;
  bottom:0;
  left: 0;
  width: 260px;
  height: 45px;
  font-family: monospace;
  padding: 10px;
  background-color: rgba(249, 249, 249, .7);
}